@import "./../base/config.scss";

.radio{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;

    &-control{
        width: 25px;
        height: 25px;
        cursor: pointer;
        position: relative;
        border-radius: 99999px;

        &::after{
            content: '';
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 99999px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        &-1{
            border: 3px solid $red;

            &-active{
                &::after{
                   background: $red;
                }
            }
        }

        &-2{
            border: 3px solid $yellow;

            &-active{
                &::after{
                    background: $yellow;
                }
            }
        }

        &-3{
            border: 3px solid $blue;

            &-active{
                &::after{
                   background: $blue;
                }
            }
        }

        &-0{
            border: 3px solid $gray;

            &-active{
                &::after{
                   background: $gray;
                }
            }
        }
    }
}